
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Voice-change-O-matic</title>
	
  <div class="wrapper">
     <h2>Demo</h2>
     <button id="aug" onclick="loadSound(1,'hamed')">Augest</button>
     <button id="sep" onclick="loadSound(1,'sep')">September</button>
     <button id="oct" onclick="loadSound(1,'oct')">October</button>
     <button id="march" onclick="loadSound(1,'march')">March</button>
     <button id="complex" onclick="loadSound(1,'complex')">Complex</button>
     <button class="record" onclick="startrecording()">Record</button>
     <button onclick="clearWaves()">Clear and Repeat</button>
     <!-- <button onclick="play3()">Comparison 2</button> -->

    <canvas style="background-color: gray" class="visualizer" width="640" height="150"></canvas> 
<br>

  </div>

  <label for="toggle">❔</label>
  <input type="checkbox" id="toggle">
  <aside>
    <h2>Information</h2>

    <p>This Demo is built using:</p>

    <ul>

    <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator.getUserMedia">getUserMedia</a>, which is currently supported in Firefox, Opera (desktop/mobile) and Chrome (desktop only.) Firefox requires no prefix; the others require <code>webkit</code> prefixes.</li>

    <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API">Web Audio API</a>, which is currently supported in Firefox, Chrome, Safari (desktop/mobile) and Opera (desktop only). Firefox and Opera require no prefix; Chrome requires <code>webkit</code> prefixes.</li>

    </ul>


  </aside>
